{% extends 'GladaBundle:Default:base.html.twig' %}
{% block content %}
<div class="box-wrapper">
  <div class="box">asdf</div>
</div>
<div class="box-wrapper">
  <div class="box">asdf</div>
</div>
<div class="box-wrapper">
  <div class="box">asdf</div>
</div>
<div class="box-wrapper">
  <div class="box">asdf</div>
</div>
{% endblock %}
